# Arquivos gerados pela compilação
/bin/
/obj/
*.exe
*.dll
*.pdb

# Arquivos de configuração do Visual Studio
.vscode/
*.suo
*.user
*.sln.docstates

# Arquivos de dependências gerados
/packages/
*.nupkg

# Arquivos de configuração do NuGet
*.nuget.targets
